.DS_Store
.gradle
build

.gitignore~

core/*.class
/larry/src/main/resources/uk.ac.cam.teamdelta.larry/apikey.txt

/.idea

*/*.iml
*.iml

*.project
*.classpath
*.settings

andy/*.jpg
andy/src/main/java/uk/ac/cam/teamdelta/andy/KeyInterface.java
andy/.gitignore
frank/.gitignore
larry/.gitignore
peter/.gitignore
robert/.gitignore
core/.gitignore


peter/libs/*

