.DS_Store
.gradle
build

.gitignore~
*.project
*.classpath
*.settings

andy/*.jpg
andy/src/main/java/uk/ac/cam/teamdelta/andy/KeyInterface.java
andy/.gitignore
frank/.gitignore
larry/.gitignore
peter/.gitignore
robert/.gitignore
core/.gitignore
