Andy/*.class
Andy/ImageGrabberOld.java
Andy/KeyInterface.java
Andy/*.jpg
core/*.class
.DS_Store
.gradle
build
/larry/src/main/resources/uk.ac.cam.teamdelta.larry/apikey.txt
/.idea

*.project
*.classpath
*.settings

andy/.gitignore
frank/.gitignore
larry/.gitignore
peter/.gitignore
robert/.gitignore
core/.gitignore
