.button:hover {
    -fx-background-color: #3c7d4a;
}

.button:pressed {
    -fx-effect: null;
}

.button {
    -fx-font-size: 45px;
    -fx-font-family: "Nexa Bold";
    -fx-text-fill: whitesmoke;
    -fx-background-color: #4c8858;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px 20px 20px;
    -fx-effect: dropshadow(gaussian, #444444, 8, 0, -1, 1);
}

.button.big {
    -fx-font-size: 100px;
    -fx-padding: -15px 20px 20px 20px;
}

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Nexa Bold";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.titleLabel {
    -fx-font-size: 35pt;
    -fx-font-family: "Nexa Bold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    -fx-effect: dropshadow(gaussian, #444444, 8, 0, -1, 1);
}

.text-field {
    -fx-padding: 10px 0 15px 8px;
    -fx-font-family: "Museo Slab 500";
    -fx-font-size: 25px;
    -fx-border-width: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 2px;
    -fx-background-color: #4c8858;
    -fx-text-fill: #cccccc;
    -fx-accent: #666666;
}

.text-field.error {
    -fx-border-color: #962327;
}

.slider .track {
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-control-inner-background: #a3ba9c;
}

.slider .thumb {
    -fx-background-color: null;
    -fx-background-image: url("images/sliderwheel.png");
    -fx-padding: 60;
    -fx-background-size: cover;
}

.slider .thumb:hover {
    -fx-effect: dropshadow(gaussian, #444444, 10, 0, -1, 1);
}

.HBox {
    -fx-background-color: #4c8858;
    -fx-background-insets: 10px;
    -fx-background-radius: 10px;
}

.gridPane {
    -fx-background-color: #4f9476;
    /*-fx-background-insets: 10px;*/
}

.gridPane.run {
    -fx-background-color: #464646;
}

* {
    /*-fx-focus-color: transparent;*/
}
